/* CSS code to work with forms */

/* CSS code to indicate correctly and incorrectly filled fields */

/* Show green border when something has been typed in, and it is valid */
.ng-dirty.ng-valid {
    border-color:#3a7d34;
    border-width:medium;
}

/* Show red border when something has been typed in, but it is invalid */
.ng-dirty.ng-invalid {
    border-color:#ec3f41;
    border-width:medium;
}

/* Spread form input to match screen width */
.exo-input {
    width: 99%;
}



/* CSS code for positioning */
.exo-right {
    position: absolute;
    right: 10px;
}

.exo-left {
    position: relative;
    left: 10px;
}

.exo-center {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
