<!DOCTYPE html>
<!--<html ng-app="activitiesM">-->
<html ng-app="appModulesLoader">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!--<meta name="viewport" content="width=device-width"> line will switch off 300ms click delay at Chrome 32 or greater -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- Make Chrome 31 or greater threat this site as a webapp -->
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Add webapp icon. 128x128 is a standard size for Chrome and Ubuntu webapps, however 196x196 will looks better at Chrome -->
        <link rel="shortcut icon" sizes="128x128" href="pics/exocortex.png">
        
        <title>Test AngularJS app</title>
        <!-- Custom CSS we need globally -->
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        
        <!--IndexedDBShim allows us to use IndexedDB in older browsers without native IndexedDB support, but with WebSQL available-->
        <script type="text/javascript" src="libs/IndexedDBShim.min.js"></script>
        <script type="text/javascript" src="libs/angular.js"></script>
        <script type="text/javascript" src="libs/angular-route.js"></script>
        
        <!--Code we use across all aplication-->
        <script src="js/main.js"></script>
        <!--Code to handle activities-->
        <script src="js/activities.js"></script>
        <!--Code to handle check-ins-->
        <script src="js/checkin.js"></script>
    </head>
    
    
    
    <!--Controller to render list of all activities-->
    <body ng-controller="activitiesController">
        <!--Fulltext search, all object properties are indexed, so "1" query will result in list of all entries, containing number 1 in, say, UUID-->
        Search: <input ng-model="userQuery">
        
        <!--Select sorting order for list of all activities-->
        <select ng-model="orderChoice">
            <option value="ascend">Ascending</option>
            <option value="descend">Descending</option>
        </select>
        
        <!-- This filter will search through all the fields, nod only through activity[activity['lastVersion']]['langcode'] -->
        <select ng-model="langcode">
            <option value="en">English</option>
            <option value="ru">Russian</option>
        </select>
        
        
        <!--List of all activities-->
        <ul>
            <!-- Single activity line -->
            <!-- Use "track by object.someUniqueKey" with ng-repeat to improve performance and prevent [ngRepeat:dupes] errors -->
            <!-- orderBy standard filter works with arrays only, not with objects -->
            <li ng-repeat="activity in activities | filter:userQuery | filter:langcode | filter:filterNot123 | orderObjectByINT:'title':orderChoice track by activity.uuid">
                
                <!-- Something like "ActivityTitle | en |"-->
                <span ng-hide="editing" ng-click="editing = true">{{activity[activity['lastVersion']]['title'][activity[activity['lastVersion']]['langcode']]}} | {{activity[activity['lastVersion']]['langcode']}} | </span>
                <!--"Details" link, click will open subpage with this particularactivity details-->
                <a ng-hide="editing" href="#/activities/{{activity.uuid}}">Details</a>
                
                <!--Button to delete this particular entry-->
                <button ng-hide="editing" ng-click="deleteEntry(activity)">Del</button>
                
                <!--Here activity editing form will be placed-->
                <edit-activity></edit-activity>
                
            </li>
        </ul>
        
        
        
        <!--Form to add new activity-->
        <form name="addActivity" ng-submit="addEntry(activity)" novalidate >
            <label>Title:</label>
            <input type="text" ng-model="activity.title" placeholder="Title" required />
            <select ng-model="activity.langcode" required >
                <option value="en">English</option>
                <option value="ru">Russian</option>
            </select>
            <br/>
            
            <!--Button to add entered values to the model-->
            <button class="btn" type="submit" ng-disabled="addActivity.$invalid">Add</button>
        </form>
        
        
        <br>
        <!--<span ng-app="checkinM">-->
            <span ng-controller="checkinController">
                <button class="btn" ng-click="addEntryl()">Check-in</button>
            </span>
        <!--</span>-->



        
        <!-- Here single activity's page content will be placed-->
        <ng-view></ng-view>
        
    </body>
</html>
