<span>
    <!--You should put nothing outside root tag (<span> in this case), even comments-->
    <!--Form to add new Body Condition Reports-->

<!--<form name="addBodyCondition" class="exo-left" ng-submit="addEntry(bodycondition)" novalidate >-->
<form name="addBodyCondition" class="exo-left" novalidate >

    <label>Body temperature:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.temperature" min="20" max="44" placeholder="36.6">

    <label>Blood pressure max:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.bloodPressureMax" min="0" max="300" placeholder="120">

    <label>Blood pressure min:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.bloodPressureMin" min="0" max="200" placeholder="80">

    <label>Pulse:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.pulse" min="0" max="330" placeholder="60">

    <label>Body mass:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.mass" min="30000" max="200000" placeholder="70000">

    <label>Height:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.height" min="0" max="2100" placeholder="1780">

    <label>Blood sugar:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.bloodSugar" min="1" max="30" placeholder="4.5">

    <!--Button to add entered values to the model-->
    <!--As of Material 0.0.2, <material-button> don't work with ng-disabled, or with type="submit"-->
    <!--It's better not to use ng-submit directive for forms and type="submit" for buttons-->
    <!--ng-submit directive may be triggered by pressing other buttons on the same page-->
    <!--It's better to use ng-click directive for buttons-->
    <button class="exo-right" ng-click="addEntry(bodycondition)" ng-disabled="addBodyCondition.$invalid">Save</button>
</form>

</span>
