<span>
    <!--You should put nothing outside root tag (<span> in this case), even comments-->
    <!--Form to add new Body Condition Reports-->

<!-- layout-margin or layout-padding helps to keep inputs inside page, even if it's narrow -->
<!-- But do not prevent horizontal scrollbar from appearing, see https://github.com/angular/material/issues/1814 -->
<!--<md-content layout-padding="">-->
<md-content layout-padding="">
<!--<form name="addBodyCondition" class="exo-left" ng-submit="addEntry(bodycondition)" novalidate >-->
<form name="addBodyCondition" novalidate>

    <md-input-container class="exo-input">
        <label>Body temperature, like 36.6</label>
        <input type="number" step="any" min="20" max="44" name="bodyTemp" ng-model="bodycondition.temperature">
    </md-input-container>

    <md-input-container class="exo-input">
        <label>Blood pressure max, like 120</label>
        <input type="number" step="any" min="0" max="300" name="bpressMax" ng-model="bodycondition.bloodPressureMax">
    </md-input-container>

    <md-input-container class="exo-input">
        <label>Blood pressure min, like 80</label>
        <input type="number" step="any" min="0" max="200" name="bpressMin" ng-model="bodycondition.bloodPressureMin">
    </md-input-container>

    <md-input-container class="exo-input">
        <label>Pulse, like 60</label>
        <input type="number" step="any" min="0" max="330" name="bpulse" ng-model="bodycondition.pulse">
    </md-input-container>

    <md-input-container class="exo-input">
        <label>Body mass, like 70000</label>
        <input type="number" step="any" min="30000" max="200000" name="bodyMass" ng-model="bodycondition.mass">
    </md-input-container>

    <md-input-container class="exo-input">
        <label>Height, like 1780</label>
        <input type="number" step="any" min="0" max="2300" name="bodyHeight" ng-model="bodycondition.height">
    </md-input-container>

    <md-input-container class="exo-input">
        <label>Blood sugar, like 4.5</label>
        <input type="number" step="any" min="1" max="30" name="bloodSugar" ng-model="bodycondition.bloodSugar">
    </md-input-container>

    <!--<label>Blood sugar:</label>
    <input type="number" class="exo-input" ng-model="bodycondition.bloodSugar" min="1" max="30" placeholder="4.5">-->


    <!--Button to add entered values to the model-->
    <!--As of Material 0.0.2, <material-button> don't work with ng-disabled, or with type="submit"-->
    <!--It's better not to use ng-submit directive for forms and type="submit" for buttons-->
    <!--ng-submit directive may be triggered by pressing other buttons on the same page-->
    <!--It's better to use ng-click directive for buttons-->
    <md-button class="md-raised" ng-click="addEntry(bodycondition)" ng-disabled="addBodyCondition.$invalid || !addBodyCondition.$dirty">Save</md-button>

    invalid: {{addBodyCondition.$invalid}}
    pristine: {{addBodyCondition.$pristine}}
    dirty: {{addBodyCondition.$dirty}}
    valid: {{addBodyCondition.$valid}}
</form>

</md-content>

</span>
