<form name="editorActivity" ng-show="editing" ng-submit="editing = false; editEntry(editActivity, editActivityLangcode)" novalidate >
    <!--You should put nothing outside root tag (<form> in this case), even comments-->
    <!--Form to edit existing activity-->
    <!--We work with activity copy (editActivity object) to prevent changes from takin immediate effect-->
    
    <!--Activity title-->
    <label>Title:</label>
    <input type="text" ng-model="editActivity[editActivity['lastVersion']]['title'][editActivity[editActivity['lastVersion']]['langcode']]" placeholder="Title" required >
    
    <!--Activity language-->
    <label>Langcode:</label>
    <select ng-model="editActivityLangcode" required >
        <option value="en">English</option>
        <option value="ru">Russian</option>
    </select>
    <br/>
    
    <!--Button to add entered values to the model-->
    <button class="btn" type="submit" ng-disabled="editorActivity.$invalid">Save</button>
</form>
