<span>
    <!--You should put nothing outside root tag (<form> in this case), even comments-->
    <!--App's frontpage-->

    <!-- Interface elements to work with GPS-->
    <span ng-controller="checkinController">

        <br><br><br>

        <!-- Button to check GPS-->
        <md-button class="md-raised exo-left" ng-click="testGPS()">Test GPS</md-button>

        <!-- Button to check-in-->
        <material-button class="material-button-raised exo-right" ng-click="addEntry()">Check-in</material-button>

        <br><br><br>

        <!-- Open Body condition report adding page -->
        <material-button class="material-button-raised exo-left" exo-href="/bodycondition-add">Add condition</material-button>

        <!-- Open all tags page -->
        <material-button class="material-button-raised exo-right" exo-href="/tags">Tags</material-button>

    </span>

</span>
