<span>
    <!--You should put nothing outside root tag (<form> in this case), even comments-->
    <!--App's frontpage-->

    <!-- Interface elements to work with GPS-->
    <span ng-controller="checkinController">

        <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">
            Left Nav!
        </material-sidenav>

        <material-button ng-click="openLeftMenu()">Open Left Menu</material-button>

        <span ng-controller="allEntriesController">
            <!-- Button to sync to and from backend-->
            <button ng-click="syncAllTo()">Sync</button>
        </span>

        <!-- Open Body condition report adding page -->
        <button exo-href="/bodycondition-add">Add condition</button>

        <!-- Button to check GPS-->
        <br>
        <button ng-click="testGPS()">Test GPS</button>



        <!-- Button to check-in-->
        <button ng-click="addEntry()">Check-in</button>

    </span>

</span>
