<span>
    <!--You should put nothing outside root tag (<form> in this case), even comments-->
    <!--App's frontpage-->

    <!-- Interface elements to work with GPS-->
    <span ng-controller="checkinController">

        <br><br><br>

        <!-- Button to check GPS-->
        <button ng-click="testGPS()">Test GPS</button>

        <!-- Button to check-in-->
        <button ng-click="addEntry()">Check-in</button>

        <br><br><br>

        <!-- Open Body condition report adding page -->
        <button exo-href="/bodycondition-add">Add condition</button>

    </span>

</span>
