<span ng-controller="serverInteract">

<div>
<form name="serverLogin" ng-submit="login(pageLogin)" novalidate >
    <!--You should put nothing outside root tag (<form> in this case), even comments-->
    <!--Form to login to your server account-->
    
    <h2>Login</h2>
    
    <!-- Server domain -->
    <div>
        <label for="page_login_domain">Backend domain</label>
        <input type="url" ng-model="pageLogin.backendURL" id="page_login_domain" required />
    </div>
    
    <!-- Server user username -->
    <div>
        <label for="page_login_name">Username</label>
        <input type="text" ng-model="pageLogin.name" id="page_login_name" required />
    </div>
    
    <!-- Server user password -->
    <div>
        <label for="page_login_pass">Password</label>
        <input type="password" ng-model="pageLogin.password" id="page_login_pass" required />
    </div>
    
    <br><br>
    <!--Button to login to server-->
    <!--As of Material 0.0.2, <material-button> don't work with ng-disabled-->
    <button class="btn" type="submit" ng-disabled="serverLogin.$invalid">Login</button>
    <!--<material-button class="material-button-raised" type="submit">Login</material-button>-->
</form>

<!--Button to logout from server-->
<material-button class="material-button-raised exo-right" ng-click="logout()">Logout</material-button>
<p class="exo-right">123</p>

</div>

</span>
