<material-dialog>
    <div class="dialog-content">

        <!--App global menu buttons-->

        <!-- Open activities list -->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <md-button class="md-raised" ng-click="close()" exo-href="/activities">Activities</md-button>
        <br><br><br>

        <!-- Open login page -->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <md-button class="md-raised" ng-click="close()" exo-href="/login">Login</md-button>
        <br><br><br>

        <!-- Syn to and from backend -->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <span ng-controller="allEntriesController">
            <!-- Button to sync to and from backend-->
            <md-button class="md-raised" ng-click="syncAllTo(); close()">Sync</md-button>
        </span>
        <br><br><br>

    </div>



    <!-- Dialog bottom bar with buttons-->
    <!--<div class="dialog-actions" layout="horizontal" layout-align="end">-->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <!--<material-button ng-click="close()">Ok</material-button>-->
    <!--</div>-->
</material-dialog>
