<material-dialog>
    <div class="dialog-content">

        <!--App global menu buttons-->

        <!-- Open activities list -->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <material-button class="material-button-raised" ng-click="close()" exo-href="/activities">Activities</material-button>
        <br>

        <!-- Open login page -->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <material-button class="material-button-raised" ng-click="close()" exo-href="/login">Login</material-button>
        <br>

        <!-- Syn to and from backend -->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <span ng-controller="allEntriesController">
            <!-- Button to sync to and from backend-->
            <material-button class="material-button-raised" ng-click="syncAllTo(); close()">Sync</material-button>
        </span>
        <br>

    </div>



    <!-- Dialog bottom bar with buttons-->
    <!--<div class="dialog-actions" layout="horizontal" layout-align="end">-->
        <!-- ng-click="close()" will close Material dialog button is placed in-->
        <!--<material-button ng-click="close()">Ok</material-button>-->
    <!--</div>-->
</material-dialog>
