<span ng-controller="tagsController as ctrl">
    <!--You should put nothing outside root tag (<span> in this case), even comments-->
    <!--Page for tags list-->

    <!--<md-content>-->

    <!--Fulltext search, all object properties are indexed, so "1" query will result in list of all entries, containing number 1 in, say, UUID-->
    Search: <input ng-model="userQuery">

    <!--Select sorting order for list of all tags-->
    <select ng-model="orderChoice">
        <option value="ascend">Ascending</option>
        <option value="descend">Descending</option>
    </select>

    <!-- This filter will search through all the fields, nod only through tag[tag['lastVersion']]['langcode'] -->
    <select ng-model="langcode">
        <option value="en">English</option>
        <option value="ru">Russian</option>
    </select>



    <!--List of all tags-->
    <md-list>
    <!--<ul>-->
        <!-- Single tag line -->
        <!-- Use "track by object.someUniqueKey" with ng-repeat to improve performance and prevent [ngRepeat:dupes] errors -->
        <!-- orderBy standard filter works with arrays only, not with objects -->
        <md-item ng-repeat="tag in tags | filter:userQuery | filter:langcode | orderObjectByTXT:'title':orderChoice track by tag.uuid">

            <md-item-content>

            <!-- Will give something like "TagTitle | en |"-->
            <span ng-hide="editing" ng-click="editing = true">{{tag[tag['lastVersion']]['title'][tag[tag['lastVersion']]['langcode']]}} | {{tag[tag['lastVersion']]['langcode']}} | </span>
            <!--"Details" link, click will open subpage with this particular tag details-->
            <!--You can get wrong URL in case you use dynamic parts (like {{tag.uuid}}) at href URL, use ng-href instead-->
            <a ng-hide="editing" ng-href="#/tags/{{tag.uuid}}">Details</a>

            <!--Button to delete this particular entry-->
            <md-button class="md-raised" ng-hide="editing" ng-click="deleteEntry(tag)">Del</md-button>

            <!--Here tag editing form will be placed-->
            <edit-tag></edit-tag>

            </md-item-content>

        <!--</li>-->
        </md-item>

    <!--</ul>-->
    </md-list>



    <!--Form to add new tag-->
    <br/><br/>
    <h2>Add new tag</h2>
    <form name="addTag" novalidate >
        <label>Language</label>
        <select ng-model="tag.langcode" required >
            <option value="en">English</option>
            <option value="ru">Russian</option>
        </select>
        <br/><br/>
        <input type="text" class="exo-input" ng-model="tag.title" placeholder="Tag Title" required />
        <br/>



        <!--Input form to get link URL and title-->
        <!--There may be more than one URL per entry, so we've to add new input form elements, when last one is filled-->
        <md-list>
            <!-- "input" variable only contains number (like 1, 2 or 3), which corresponds to form element number-->
            <!-- Create input elements, accordind to numbers from "input" variable)-->
            <md-item ng-repeat="input in inputs">
                <md-item-content>
                    <!--ng-change will only work after field became filled correctly-->
                    <input type="url" class="exo-input" ng-model="tag['urllink'][input]['url']" ng-change="addArrItem(input)" placeholder="http://site.com"/>
                    <input type="text" class="exo-input" ng-model="tag['urllink'][input]['title']" placeholder="Title (optional)"/>
                    <br/>
                </md-item-content>
            </md-item>
        </md-list>



        <!-- Autocomplete field. You can't put comments inside md-autocomplete tag-->
        <!-- TODO: handle different entries with equal names, NOT NECESSARY for tags -->
        <!-- We may want to add edition date and time to to that names, rather than UUIDs, but collisions are possible-->
        <!-- We may want to use "invisible" text to hide UUID -->
        <!-- https://material.angularjs.org/latest/#/api/material.components.autocomplete/directive/mdAutocomplete -->
        <md-autocomplete flex
                         md-input-name="parentTagRefInput"
                         md-no-cache="ctrl.noCache"
                         md-selected-item="ctrl.selectedItem"
                         md-search-text="ctrl.searchText"
                         md-items="item in querySearch(ctrl.searchText)"
                         md-item-text="item"
                         md-floating-label="Tags">
            <!--md-items="item in ctrl.querySearch(ctrl.searchText)"-->


            <!-- md-no-cache disables caching completely-->
            <!-- md-search-text is a model to bind the search query text to -->
            <!-- md-items shows list of suggestions by calling search function with user-entered text as an argument-->
            <!-- md-item-text will convert your object to a single string -->
            <!-- md-floating-label - sets text of an input field floating label-->

            <!-- Template for suggestions to show to user when he entered something -->
            <md-item-template>
                <!-- Will results in something like "Alabama state" -->

                <!--<span md-highlight-text="ctrl.searchText">{{item}}</span>-->
                <span md-highlight-text="ctrl.searchText">{{item[item.lastVersion]["title"][item[item.lastVersion]["langcode"]]}}</span>


            </md-item-template>

            <!-- Message to show when nothing was found-->
            <md-not-found>
                No matches found.
            </md-not-found>

            <!-- Show user-entered text-->
            {{ctrl.searchText}}

        </md-autocomplete>



        <!--Demonstrational list of all tags-->
        <!-- <md-list>
            <md-item ng-repeat="tag in tagsNames">
                <md-item-content>
                    <span>{{tag}}</span>
                </md-item-content>
            </md-item>
        </md-list> -->



        <!--Demonstrational field to enter name, we don't use it-->
        <!--<md-input-container flex>
            <label>Name</label>
            <input type="text"/>
        </md-input-container>-->



        <br/>
        <!--Button to add entered values to the model-->
        <md-button class="md-raised exo-right" ng-click="addEntry(tag)" ng-disabled="addTag.$invalid">Save</md-button>

    </form>

    <!--</md-content>-->

</span>
