<span ng-controller="tagsController">
    <!--You should put nothing outside root tag (<span> in this case), even comments-->
    <!--Page for tags list-->

    <md-content>

    <!--Fulltext search, all object properties are indexed, so "1" query will result in list of all entries, containing number 1 in, say, UUID-->
    Search: <input ng-model="userQuery">

    <!--Select sorting order for list of all tags-->
    <select ng-model="orderChoice">
        <option value="ascend">Ascending</option>
        <option value="descend">Descending</option>
    </select>

    <!-- This filter will search through all the fields, nod only through tag[tag['lastVersion']]['langcode'] -->
    <select ng-model="langcode">
        <option value="en">English</option>
        <option value="ru">Russian</option>
    </select>



    <!--List of all tags-->
    <md-list>
    <!--<ul>-->
        <!-- Single tag line -->
        <!-- Use "track by object.someUniqueKey" with ng-repeat to improve performance and prevent [ngRepeat:dupes] errors -->
        <!-- orderBy standard filter works with arrays only, not with objects -->
        <md-item ng-repeat="tag in tags | filter:userQuery | filter:langcode | orderObjectByTXT:'title':orderChoice track by tag.uuid">

            <!-- Will give something like "TagTitle | en |"-->
            <span ng-hide="editing" ng-click="editing = true">{{tag[tag['lastVersion']]['title'][tag[tag['lastVersion']]['langcode']]}} | {{tag[tag['lastVersion']]['langcode']}} | </span>
            <!--"Details" link, click will open subpage with this particular tag details-->
            <!--You can get wrong URL in case you use dynamic parts (like {{tag.uuid}}) at href URL, use ng-href instead-->
            <a ng-hide="editing" ng-href="#/tags/{{tag.uuid}}">Details</a>

            <!--Button to delete this particular entry-->
            <md-button class="md-button-raised" ng-hide="editing" ng-click="deleteEntry(tag)">Del</md-button>

            <!--Here tag editing form will be placed-->
            <edit-tag></edit-tag>

        <!--</li>-->
        </md-item>

    <!--</ul>-->
    </md-list>



    <!--List of addable inputs-->
    <md-list>
        <!-- Single tag line -->
        <!-- Use "track by object.someUniqueKey" with ng-repeat to improve performance and prevent [ngRepeat:dupes] errors -->
        <!-- orderBy standard filter works with arrays only, not with objects -->
        <md-item ng-repeat="input in inputs">
            <!--ng-change will only work after field became filled correctly-->
            <input type="url" class="exo-input" ng-model="tag.urllink.url" ng-change="addArrItem()" placeholder="http://site.com"/>
            <input type="text" class="exo-input" ng-model="tag.urllink.title" placeholder="Title (optional)"/>
            <br/>
            {{input}}
            <md-button ng-click="addArrItem()">Add</md-button>
        </md-item>
    </md-list>



    <!--Form to add new tag-->
    <br/><br/>
    <h2>Add new tag</h2>
    <form name="addTag" novalidate >
        <label>Language</label>
        <select ng-model="tag.langcode" required >
            <option value="en">English</option>
            <option value="ru">Russian</option>
        </select>
        <br/><br/>
        <input type="text" class="exo-input" ng-model="tag.title" placeholder="Title" required />
        <br/>
        <input type="url" class="exo-input" ng-model="tag.urllink" placeholder="http://site.com"/>

        <!--Button to add entered values to the model-->
        <md-button class="md-button-raised exo-right" ng-click="addEntry(tag)" ng-disabled="addTag.$invalid">Add</md-button>
    </form>

</md-content>

</span>
